.sidePanel{
    height:100vh;
    width:34%;
    background:purple;
    font-style: inherit;
    font-size:20px;
    max-width: 400px;
}

.panelInner{
    display:flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}